# ***Sugercane data Analysis***

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#dropping the index column and taking sample from the dataset

df=pd.read_csv("./Dataset/Sugarcane_production.csv")
df=df.drop("Unnamed: 0",axis=1)
df.sample(5)

,Country,Continent,Production (Tons),Production per Person (Kg),Acreage (Hectare),Yield (Kg / Hectare)
43,Guyana,South America,2.394.553,"3.061,207",44.311,"54.039,7"
51,Jamaica,North America,1.422.432,521254,26.255,"54.178,2"
87,Iraq,Asia,11.67,297,584,20
101,Samoa,Oceania,12,6,1,"11.949,8"
31,Zambia,Africa,4.285.839,253784,41.695,"102.789,6"

In [ ]:
print(f"The shape of the dataset= {df.shape}")

The shape of the dataset= (103, 6)

## **Data cleaning**

In [ ]:
df["Production (Tons)"]=df["Production (Tons)"].str.replace(".","")
df["Production per Person (Kg)"]=df["Production per Person (Kg)"].str.replace(".","")
df["Production (Tons)"]=df["Production (Tons)"].str.replace(".","")