# **Pandas**

pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with
“relational” or “labeled” data both easy and intuitive. I

In [ ]:
# To install pandas 
pip install pandas

In [10]:
import pandas as pd
# creating a data frame 2D
details=pd.DataFrame({
    "name":["Samir Srinath","Sumit Prakash","Rishabh kumar"],
    "Age":[20,20,18],
    "Genger":["Male","Male","Male"]
})

In [12]:
print(details)

            name  Age Genger
0  Samir Srinath   20   Male
1  Sumit Prakash   20   Male
2  Rishabh kumar   18   Male

<code>A DataFrame is a 2-dimensional data structure that can store data of different types (including characters, integers,
floating point values, categorical data and more) in columns. It is similar to a spreadsheet, a SQL table or the data.
frame in R.</code>

In [14]:
print(details.name,type(details.name))

0    Samir Srinath
1    Sumit Prakash
2    Rishabh kumar
Name: name, dtype: object <class 'pandas.core.series.Series'>

Each column in a DataFrame is a Series

In [16]:
ages = pd.Series([22, 35, 58], name="Age")
print(ages)

0    22
1    35
2    58
Name: Age, dtype: int64

In [19]:
# operations with column
details["Age"].max()

20